@use "@/styles/abstracts/variables" as *;

.hbup-header {
    width: calc(100% - 6rem);

    /* Tablet */
    @media (max-width: 768px) {
        width: 100%;
        .hbup-header-nav-section{
            display: none;
        }
    }

    /* Desktop */
    @media (max-width: 1024px) {
        width: calc(100% - 2rem);
    }

    margin: auto;

    .hbup-header-section {
        .hbup-heading {
            .hbup-up-heading {
                color: #FFB54C;
            }

        }

        .hbup-nav {
            gap: 4rem;

            .hbup-nav-item {
                list-style: none;
                font-size: $font-lg;
                font-weight: $font-weight-300;

                .hbup-join-btn {
                    background-color: #FFB54C;
                    padding: 1rem 2rem;
                    border-radius: 1.5rem;
                    font-weight: $font-weight-300;
                    font-size: $font-md;
                    border: 1px solid #000;
                    cursor: pointer;
                }
            }
        }
    }

    @media (max-width: 500px) {
        width: 100%;
        .hbup-header-nav-section{
            display: none;
        }
    }
}