.hbup-passphrase-heading{
    color:rgba(27, 37, 89, 1);
}

.hbup-privacy-container{
    padding: .5rem;
    box-shadow: 0px 16px 20px -8px rgba(3, 5, 18, 0.1);
    border-radius: .312rem;
    width: 50%;
} 