$primary-color: #FFC470;
$secondary-color: #80CAFF;
$tertiary-color: #D9B8FF;



$text-yellow: #ffb54c;
$text-grey: #999fae;
$soft-yellow: #FDF5A3;

$yellow-bg-light:#F6F1E9;

$bg-secondary: rgba(217, 184, 255, 0.08);
$bg-yellow-dark: rgba(255, 181, 76, 1);

$text-black: #222222;
$text-grey-light: #989898;
$text-white: #FFFFFF;

$font-xs: 0.75rem;    // 12px
$font-sm: 0.875rem;   // 14px
$font-md: 1rem;       // 16px (default body)
$font-lg: 1.125rem;   // 18px
$font-xl: 1.25rem;    // 20px
$font-2xl: 1.5rem;    // 24px
$font-3xl: 1.875rem;  // 30px
$font-4xl: 2.25rem;   // 36px
$font-5xl: 3rem;      // 48px
$font-6xl: 3.75rem;   // 60px
$font-7xl: 4.5rem;    // 72px
$font-8xl: 6rem;      // 96px
$font-9xl: 8rem;      // 128px

$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;