// Using variables from abstracts/_variables.scss
@use "@/styles/abstracts/variables.scss" as *;

.text-primary{
    color: $text-black;
}

.text-grey{
    color: $text-grey-light;
}

.text-grey-dark{
    color: rgba(113, 128, 150, 1);
}