@use "@/styles/abstracts/variables.scss" as *;
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.font-xs{
    font-size: $font-xs;
}

.font-sm {
    font-size: $font-sm;
}

.font-md {
    font-size: $font-md;
}

.font-lg {
    font-size: $font-lg;
}

.font-xl {
    font-size: $font-xl;
}

.font-2xl {
    font-size: $font-2xl;
}

.font-3xl {
    font-size: $font-3xl;
}

.font-4xl {
    font-size: $font-4xl;
}

.font-5xl {
    font-size: $font-5xl;
}

.font-6xl {
    font-size: $font-6xl;
}

.font-300{
    font-weight: 300;
}

.font-400{
    font-weight: 400;
}

.font-500{
    font-weight: 500;
}

.font-600{
    font-weight: 600;
}

.font-700{
    font-weight: 700;
}