.hbup-reflection-container{
    .hbup-reflection-prompt{
        border-radius: .312rem;
        background-color: rgba(255, 181, 76, 0.59);
        text-align: center;
        border: none;
        cursor: pointer;
        max-width: 80%;
    }
}
