.hbup-mood-progress{
    .hbup-progress{
        width: 15.625rem;
        height: 15.625rem;
        position: relative;
        .hbup-progress-emoj{
            position: absolute;
            top:3.75rem;
            left:3.75rem;
        }
    }
}